<drk-levels-table [levels]="levels"
                  [currentLevelIndex]="game.levelIndex"
                  [scoreToNextLevel]="game.scoreToNextLevel">
</drk-levels-table>
<div class="container">
  <drk-score [score]="game.score"></drk-score>
  <drk-game-field [levelMap]="game.levelMap" (toggle)="game.toggle($event)"></drk-game-field>
  <div class="actions">
    <button (click)="game.newGame()">Restart</button>
    <button *ngIf="game.isNextLevelAvailable" (click)="game.nextLevel()">Next Level</button>
  </div>
</div>
<div></div>
