:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.logo {
  width: auto;
  margin: 2em;
}

.content-wrapper {
  height: 100%;
  width: 100%;
}
